@model Ecommerce.Web.Models.Category

<form class="form-control" asp-controller="Category" asp-action="Create" method="post">

    <div  >
		<label asp-for="Name"></label>
		<input class="form-control" asp-for="Name"/>
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Description">Description</label>
		<input class="form-control" class="form-tex" rows=3 asp-for="Description" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Create" />
	</div>




</form>