@model Category
@{
	ViewBag.Title = "Edit";
	ViewBag.CardTitle = "Edit";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<form  asp-controller="Category" asp-action="Edit" method="post">
	<div>
		<input class="form-control" hidden asp-for="CategoryId" value="@Model.CategoryId"/>
	</div>
	<div>
		<label asp-for="Name"></label>
		<input class="form-control" asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Description">Description</label>
		<input class="form-control" class="form-tex" rows=3 asp-for="Description" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Create" />
	</div>

</form>


@section Scripts {
	<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}







